{
    "development": {
        "username": "username",
        "password": "password",
        "database": "database",
        "host": "host",
        "dialect": "mysql"
    },
    "test": {
        "username": "tu_usuario",
        "password": "tu_contraseña",
        "database": "nombre_de_tu_base_de_datos",
        "host": "localhost",
        "dialect": "mysql"
    }
}